<!-- views/recipe.ejs -->
<%- include('partials/header') %>

<div class="card mb-4">
  <img src="<%= recipe.photo %>" class="card-img-top" alt="Recipe Image">
  <div class="card-body">
    <h3 class="card-title"><%= recipe.description %></h3>
    <h5>Ingredients</h5>
    <ul>
      <% recipe.ingredient.forEach(item => { %>
        <li><%= item %></li>
      <% }) %>
    </ul>
    <h5>Instructions</h5>
    <p><%= recipe.instruction %></p>
    <p>Likes: <%= recipe.likes %></p>
    <!-- You can add like button and comments functionality -->
  </div>
</div>

<div class="comments-section">
  <h4>Comments</h4>
  <!-- Display comments -->
  <% /* Iterate over comments and display */ %>
</div>

<%- include('partials/footer') %>